.profile-image{
    width: 100%;
    height: 600px;
    overflow: hidden;
    }
    .profile-image img{
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .profile-image img:hover{
    transform: scale(1.2);
    transition: 2s;
    }


.cert{
        width:100%; 
        height:500px;
    }
    
@media only screen and (min-width: 401px) and (max-width: 960px) {
.cert {
          height:600px;
        }
      }
      
     @media only screen and (min-width: 961px) {
        .cert {
          height: 600px;
        } 
      }

.qual{
    width:100%; 
    height:500px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .qual {
      height:300px;
    }
  }
  
 @media only screen and (min-width: 961px) {
    .qual {
      height: 280px;
    } 
  } 

.train{
    width:100%; 
    height:550px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .train {
      height:350px;
    }
  }
  
 @media only screen and (min-width: 961px) {
    .train {
      height: 300px;
    } 
  }

  .exp{
    width:100%; 
    height:950px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .exp {
      height:700px;
    }
  }
  
 @media only screen and (min-width: 961px) {
    .exp {
      height: 690px;
    } 
  } 
  
  .foot{
    height:70px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
.foot {
      height:40px;
        }
  }
  @media only screen and (min-width: 961px) {
    .foot {
      height: 40px;
    } 
  }